## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
# Your code here - remember to use markdown cells for comments as well!

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("kc_house_data.csv")

In [4]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
id               21597 non-null int64
date             21597 non-null object
price            21597 non-null float64
bedrooms         21597 non-null int64
bathrooms        21597 non-null float64
sqft_living      21597 non-null int64
sqft_lot         21597 non-null int64
floors           21597 non-null float64
waterfront       19221 non-null float64
view             21534 non-null float64
condition        21597 non-null int64
grade            21597 non-null int64
sqft_above       21597 non-null int64
sqft_basement    21597 non-null object
yr_built         21597 non-null int64
yr_renovated     17755 non-null float64
zipcode          21597 non-null int64
lat              21597 non-null float64
long             21597 non-null float64
sqft_living15    21597 non-null int64
sqft_lot15       21597 non-null int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

In [6]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,21587,21588,21589,21590,21591,21592,21593,21594,21595,21596
id,7129300520,6414100192,5631500400,2487200875,1954400510,7237550310,1321400060,2008000270,2414600126,3793500160,...,7852140040,9834201367,3448900210,7936000429,2997800021,263000018,6600060120,1523300141,291310100,1523300157
date,10/13/2014,12/9/2014,2/25/2015,12/9/2014,2/18/2015,5/12/2014,6/27/2014,1/15/2015,4/15/2015,3/12/2015,...,8/25/2014,1/26/2015,10/14/2014,3/26/2015,2/19/2015,5/21/2014,2/23/2015,6/23/2014,1/16/2015,10/15/2014
price,221900,538000,180000,604000,510000,1.23e+06,257500,291850,229500,323000,...,507250,429000,610685,1.01e+06,475000,360000,400000,402101,400000,325000
bedrooms,3,3,2,4,3,4,3,3,3,3,...,3,3,4,4,3,3,4,2,3,2
bathrooms,1,2.25,1,3,2,4.5,2.25,1.5,1,2.5,...,2.5,2,2.5,3.5,2.5,2.5,2.5,0.75,2.5,0.75
sqft_living,1180,2570,770,1960,1680,5420,1715,1060,1780,1890,...,2270,1490,2520,3510,1310,1530,2310,1020,1600,1020
sqft_lot,5650,7242,10000,5000,8080,101930,6819,9711,7470,6560,...,5536,1126,6023,7200,1294,1131,5813,1350,2388,1076
floors,1,2,1,1,1,1,2,1,1,2,...,2,3,2,2,2,3,2,2,2,2
waterfront,NaN,0,0,0,0,0,0,0,0,0,...,NaN,0,0,0,0,0,0,0,NaN,0
view,0,0,0,0,0,0,0,NaN,0,0,...,0,0,NaN,0,0,0,0,0,0,0
condition,3,3,3,5,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
grade,7,7,6,7,8,11,7,7,7,7,...,8,8,9,9,8,8,8,7,8,7
sqft_above,1180,2170,770,1050,1680,3890,1715,1060,1050,1890,...,2270,1490,2520,2600,1180,1530,2310,1020,1600,1020
sqft_basement,0.0,400.0,0.0,910.0,0.0,1530.0,?,0.0,730.0,0.0,...,0.0,0.0,0.0,910.0,130.0,0.0,0.0,0.0,0.0,0.0
yr_built,1955,1951,1933,1965,1987,2001,1995,1963,1960,2003,...,2003,2014,2014,2009,2008,2009,2014,2009,2004,2008
yr_renovated,0,1991,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zipcode,98178,98125,98028,98136,98074,98053,98003,98198,98146,98038,...,98065,98144,98056,98136,98116,98103,98146,98144,98027,98144
lat,47.5112,47.721,47.7379,47.5208,47.6168,47.6561,47.3097,47.4095,47.5123,47.3684,...,47.5389,47.5699,47.5137,47.5537,47.5773,47.6993,47.5107,47.5944,47.5345,47.5941
long,-122.257,-122.319,-122.233,-122.393,-122.045,-122.005,-122.327,-122.315,-122.337,-122.031,...,-121.881,-122.288,-122.167,-122.398,-122.409,-122.346,-122.362,-122.299,-122.069,-122.299
sqft_living15,1340,1690,2720,1360,1800,4760,2238,1650,1780,2390,...,2270,1400,2520,2050,1330,1530,1830,1020,1410,1020
sqft_lot15,5650,7639,8062,5000,7503,101930,6819,9711,8113,7570,...,5731,1230,6023,6200,1265,1509,7200,2007,1287,1357

In [7]:
#cleaning up sqft_basement data
clean = df.replace(["?"], [np.nan])

In [8]:
# type changes of two columns
clean["sqft_basement"].astype(float)
clean["date"] = pd.to_datetime(clean["date"])

In [9]:
#creating a flag column for waterfront, first approach
clean["imputed_waterfront"] = clean["waterfront"].replace(np.nan, 0)

#creating a flag column for waterfront, second approach, needs error resolution
#clean["imputed_waterfront_2"] = clean.loc[clean["waterfront"] == np.nan]

#imputing waterfront records to median value, which is zero
clean["waterfront"].replace(np.nan, 0, inplace = True)

In [10]:
clean["imputed_waterfront"]

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0
6        0.0
7        0.0
8        0.0
9        0.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       0.0
16       0.0
17       0.0
18       0.0
19       0.0
20       0.0
21       0.0
22       0.0
23       0.0
24       0.0
25       0.0
26       0.0
27       0.0
28       0.0
29       0.0
        ...
21567    0.0
21568    0.0
21569    0.0
21570    0.0
21571    0.0
21572    0.0
21573    0.0
21574    0.0
21575    0.0
21576    0.0
21577    0.0
21578    0.0
21579    0.0
21580    0.0
21581    0.0
21582    0.0
21583    0.0
21584    0.0
21585    0.0
21586    0.0
21587    0.0
21588    0.0
21589    0.0
21590    0.0
21591    0.0
21592    0.0
21593    0.0
21594    0.0
21595    0.0
21596    0.0
Name: imputed_waterfront, Length: 21597, dtype: float64

In [11]:
df_transposed = df.T

In [12]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,21587,21588,21589,21590,21591,21592,21593,21594,21595,21596
id,7129300520,6414100192,5631500400,2487200875,1954400510,7237550310,1321400060,2008000270,2414600126,3793500160,...,7852140040,9834201367,3448900210,7936000429,2997800021,263000018,6600060120,1523300141,291310100,1523300157
date,10/13/2014,12/9/2014,2/25/2015,12/9/2014,2/18/2015,5/12/2014,6/27/2014,1/15/2015,4/15/2015,3/12/2015,...,8/25/2014,1/26/2015,10/14/2014,3/26/2015,2/19/2015,5/21/2014,2/23/2015,6/23/2014,1/16/2015,10/15/2014
price,221900,538000,180000,604000,510000,1.23e+06,257500,291850,229500,323000,...,507250,429000,610685,1.01e+06,475000,360000,400000,402101,400000,325000
bedrooms,3,3,2,4,3,4,3,3,3,3,...,3,3,4,4,3,3,4,2,3,2
bathrooms,1,2.25,1,3,2,4.5,2.25,1.5,1,2.5,...,2.5,2,2.5,3.5,2.5,2.5,2.5,0.75,2.5,0.75
sqft_living,1180,2570,770,1960,1680,5420,1715,1060,1780,1890,...,2270,1490,2520,3510,1310,1530,2310,1020,1600,1020
sqft_lot,5650,7242,10000,5000,8080,101930,6819,9711,7470,6560,...,5536,1126,6023,7200,1294,1131,5813,1350,2388,1076
floors,1,2,1,1,1,1,2,1,1,2,...,2,3,2,2,2,3,2,2,2,2
waterfront,NaN,0,0,0,0,0,0,0,0,0,...,NaN,0,0,0,0,0,0,0,NaN,0
view,0,0,0,0,0,0,0,NaN,0,0,...,0,0,NaN,0,0,0,0,0,0,0
condition,3,3,3,5,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
grade,7,7,6,7,8,11,7,7,7,7,...,8,8,9,9,8,8,8,7,8,7
sqft_above,1180,2170,770,1050,1680,3890,1715,1060,1050,1890,...,2270,1490,2520,2600,1180,1530,2310,1020,1600,1020
sqft_basement,0.0,400.0,0.0,910.0,0.0,1530.0,?,0.0,730.0,0.0,...,0.0,0.0,0.0,910.0,130.0,0.0,0.0,0.0,0.0,0.0
yr_built,1955,1951,1933,1965,1987,2001,1995,1963,1960,2003,...,2003,2014,2014,2009,2008,2009,2014,2009,2004,2008
yr_renovated,0,1991,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
zipcode,98178,98125,98028,98136,98074,98053,98003,98198,98146,98038,...,98065,98144,98056,98136,98116,98103,98146,98144,98027,98144
lat,47.5112,47.721,47.7379,47.5208,47.6168,47.6561,47.3097,47.4095,47.5123,47.3684,...,47.5389,47.5699,47.5137,47.5537,47.5773,47.6993,47.5107,47.5944,47.5345,47.5941
long,-122.257,-122.319,-122.233,-122.393,-122.045,-122.005,-122.327,-122.315,-122.337,-122.031,...,-121.881,-122.288,-122.167,-122.398,-122.409,-122.346,-122.362,-122.299,-122.069,-122.299
sqft_living15,1340,1690,2720,1360,1800,4760,2238,1650,1780,2390,...,2270,1400,2520,2050,1330,1530,1830,1020,1410,1020
sqft_lot15,5650,7639,8062,5000,7503,101930,6819,9711,8113,7570,...,5731,1230,6023,6200,1265,1509,7200,2007,1287,1357

In [23]:
df.sort_values("bedrooms", ascending=False)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
15856,2402100895,6/25/2014,640000.0,33,1.75,1620,6000,1.0,0.0,0.0,...,7,1040,580.0,1947,0.0,98103,47.6878,-122.331,1330,4700
8748,1773100755,8/21/2014,520000.0,11,3.00,3000,4960,2.0,0.0,0.0,...,7,2400,600.0,1918,1999.0,98106,47.5560,-122.363,1420,4960
13301,627300145,8/14/2014,1150000.0,10,5.25,4590,10920,1.0,0.0,2.0,...,9,2500,2090.0,2008,0.0,98004,47.5861,-122.113,2730,10400
19239,8812401450,12/29/2014,660000.0,10,3.00,2920,3745,2.0,0.0,0.0,...,7,1860,1060.0,1913,0.0,98105,47.6635,-122.320,1810,3745
15147,5566100170,10/29/2014,650000.0,10,2.00,3610,11914,2.0,0.0,0.0,...,7,3010,600.0,1958,0.0,98006,47.5705,-122.175,2040,11914
6073,9822700190,8/8/2014,1280000.0,9,4.50,3650,5000,2.0,0.0,0.0,...,8,2530,1120.0,1915,2010.0,98105,47.6604,-122.289,2510,5000
4231,2902200015,1/6/2015,700000.0,9,3.00,3680,4400,2.0,0.0,0.0,...,7,2830,850.0,1908,0.0,98102,47.6374,-122.324,1960,2450
16830,8823900290,3/17/2015,1400000.0,9,4.00,4620,5508,2.5,0.0,0.0,...,11,3870,750.0,1915,0.0,98105,47.6684,-122.309,2710,4320
8537,424049043,8/11/2014,450000.0,9,7.50,4050,6504,2.0,0.0,0.0,...,7,4050,0.0,1996,0.0,98144,47.5923,-122.301,1448,3866
4092,1997200215,5/7/2014,599999.0,9,4.50,3830,6988,2.5,0.0,0.0,...,7,2450,1380.0,1938,0.0,98103,47.6927,-122.338,1460,6291
18428,8823901445,3/13/2015,934000.0,9,3.00,2820,4480,2.0,0.0,0.0,...,7,1880,940.0,1918,0.0,98105,47.6654,-122.307,2460,4400
10946,1652500060,7/11/2014,1650000.0,8,2.75,4040,20666,1.0,0.0,0.0,...,9,2020,2020.0,1962,0.0,98004,47.6340,-122.221,3670,20500
17221,1338600225,5/28/2014,1970000.0,8,3.50,4440,6480,2.0,0.0,3.0,...,10,3140,1300.0,1959,0.0,98112,47.6310,-122.303,4440,8640
15656,8141200080,8/14/2014,680000.0,8,2.75,2530,4800,2.0,0.0,0.0,...,7,1390,1140.0,1901,NaN,98112,47.6241,-122.305,1540,4800
12872,8813400155,12/19/2014,808000.0,8,3.75,3460,4600,2.0,0.0,0.0,...,7,2860,600.0,1987,0.0,98105,47.6617,-122.289,2170,3750
1658,9126101740,12/4/2014,490000.0,8,5.00,2800,2580,2.0,0.0,0.0,...,8,1880,920.0,1997,0.0,98122,47.6086,-122.303,1800,2580
15056,7418000130,12/11/2014,430000.0,8,3.25,4300,10441,2.0,0.0,0.0,...,8,2800,1500.0,1979,0.0,98059,47.4786,-122.131,1780,10457
9068,6746700615,3/18/2015,700000.0,8,2.50,2280,3000,1.5,0.0,0.0,...,7,1210,1070.0,1911,0.0,98105,47.6675,-122.316,1610,3000
6168,1873400020,7/3/2014,340000.0,8,2.75,2790,6695,1.0,NaN,0.0,...,7,1470,1320.0,1977,NaN,98133,47.7565,-122.331,1760,7624
9443,2769600590,10/16/2014,900000.0,8,4.00,4020,7500,1.0,0.0,0.0,...,8,2010,2010.0,1968,0.0,98107,47.6732,-122.363,1560,3737
4063,7226500100,2/19/2015,373000.0,8,3.00,2850,12714,1.0,NaN,0.0,...,7,2850,0.0,1959,0.0,98055,47.4859,-122.205,1480,4942
4031,685000115,10/7/2014,2150000.0,8,6.00,4340,9415,2.0,0.0,0.0,...,8,4340,0.0,1967,0.0,98004,47.6316,-122.202,2050,9100
18462,1346300150,10/20/2014,3300000.0,8,4.00,7710,11750,3.5,0.0,0.0,...,12,6090,1620.0,1904,0.0,98112,47.6263,-122.314,4210,8325
19287,3756900027,11/25/2014,575000.0,8,3.00,3840,15990,1.0,0.0,0.0,...,7,2530,1310.0,1961,0.0,98034,47.7111,-122.211,1380,8172
7016,686400380,10/2/2014,770000.0,7,2.25,3260,8145,2.0,0.0,0.0,...,8,3260,0.0,1967,NaN,98008,47.6336,-122.115,2340,8145
12005,424069271,10/24/2014,936000.0,7,3.75,5100,21802,2.0,NaN,0.0,...,10,3640,1460.0,2001,0.0,98075,47.5950,-122.040,3350,10005
7184,7159200005,5/7/2014,3200000.0,7,4.50,6210,8856,2.5,0.0,2.0,...,11,4760,1450.0,1910,0.0,98109,47.6307,-122.354,2940,5400
15008,2210500010,9/30/2014,2450000.0,7,4.25,4670,23115,2.0,0.0,2.0,...,11,4670,0.0,1992,0.0,98039,47.6183,-122.227,3240,13912
4020,9175600025,10/7/2014,800000.0,7,6.75,7480,41664,2.0,0.0,2.0,...,11,5080,2400.0,1953,NaN,98166,47.4643,-122.368,2810,33190
18960,1778360150,6/20/2014,1240000.0,7,5.50,6630,13782,2.0,0.0,0.0,...,10,4930,1700.0,2004,NaN,98006,47.5399,-122.118,4470,8639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19142,3213200245,1/15/2015,435500.0,1,1.75,1020,4512,1.0,0.0,0.0,...,7,770,250.0,1937,0.0,98115,47.6724,-122.266,1230,5029
18471,7891600165,6/27/2014,295000.0,1,1.00,700,2500,1.0,NaN,0.0,...,7,700,0.0,1907,0.0,98106,47.5662,-122.364,1340,5000
16852,7841300285,8/11/2014,199950.0,1,1.50,1048,4800,1.0,0.0,0.0,...,7,1048,0.0,1942,0.0,98055,47.4759,-122.212,950,4800
11488,4322200105,3/31/2015,229050.0,1,1.00,420,3298,1.0,0.0,0.0,...,4,420,0.0,1949,0.0,98136,47.5375,-122.391,1460,4975
16815,3278602660,5/20/2014,194000.0,1,1.00,820,1060,1.0,0.0,0.0,...,8,760,60.0,2007,0.0,98126,47.5472,-122.372,1770,1853
8206,2144800615,6/25/2014,190000.0,1,0.75,930,29258,1.0,0.0,0.0,...,6,930,0.0,1941,0.0,98178,47.4837,-122.236,2000,18321
14436,126039305,10/13/2014,345000.0,1,1.00,540,10125,1.0,0.0,0.0,...,5,540,0.0,1961,0.0,98177,47.7739,-122.358,1840,10125
5881,7818700480,4/9/2015,314200.0,1,1.00,610,6000,1.0,0.0,0.0,...,5,610,0.0,1918,0.0,98117,47.6911,-122.367,970,5000
17562,1222069089,9/4/2014,375000.0,1,1.00,800,533610,1.5,NaN,0.0,...,5,800,0.0,1950,0.0,98038,47.4134,-121.986,1790,216057
10375,6620400400,8/13/2014,309950.0,1,1.00,1120,11800,1.5,0.0,0.0,...,7,1120,0.0,1950,0.0,98168,47.5123,-122.331,2330,9290
1065,3340401535,11/5/2014,140000.0,1,1.00,730,6890,1.0,0.0,0.0,...,4,730,0.0,1926,0.0,98055,47.4670,-122.215,1790,7969
16828,226109056,3/26/2015,170000.0,1,0.75,850,5600,1.0,0.0,2.0,...,6,850,0.0,1903,NaN,98019,47.7654,-121.480,900,12250
3598,6132600315,8/27/2014,375000.0,1,1.00,1090,5250,1.0,0.0,0.0,...,6,980,110.0,1927,0.0,98117,47.6999,-122.391,2160,5250
19258,9164100035,4/29/2015,655000.0,1,1.00,1660,5422,1.0,0.0,0.0,...,7,830,830.0,1908,0.0,98117,47.6821,-122.388,1100,5356
8126,7849202585,9/4/2014,170000.0,1,1.00,480,4560,1.0,0.0,0.0,...,5,480,0.0,1922,0.0,98065,47.5253,-121.826,890,4803
14353,3333002450,7/8/2014,165000.0,1,1.00,850,8050,1.0,0.0,0.0,...,6,850,0.0,1906,0.0,98118,47.5427,-122.288,1590,5180
14354,3333002450,1/22/2015,490000.0,1,1.00,850,8050,1.0,0.0,0.0,...,6,850,0.0,1906,0.0,98118,47.5427,-122.288,1590,5180
5747,7624700050,12/23/2014,565000.0,1,1.00,1370,6250,1.5,NaN,0.0,...,7,1370,0.0,1921,0.0,98136,47.5571,-122.385,1450,6250
3485,6149700405,12/22/2014,210000.0,1,1.00,1050,7583,1.0,0.0,0.0,...,6,1050,0.0,1947,0.0,98133,47.7294,-122.341,1420,7560
21316,9266700190,5/11/2015,245000.0,1,1.00,390,2000,1.0,0.0,0.0,...,6,390,0.0,1920,0.0,98103,47.6938,-122.347,1340,5100
10469,7129304375,7/14/2014,202000.0,1,0.75,590,5650,1.0,0.0,0.0,...,6,590,0.0,1944,0.0,98118,47.5181,-122.267,980,5650
21310,6003000851,5/22/2014,353000.0,1,1.00,550,1279,2.0,0.0,0.0,...,7,550,0.0,2008,NaN,98122,47.6160,-122.314,1460,1385
8158,1797500530,5/5/2015,655100.0,1,1.00,1220,4160,1.0,0.0,0.0,...,7,1220,0.0,1922,NaN,98115,47.6746,-122.315,1970,4200
19210,2414600366,11/14/2014,199900.0,1,1.00,720,7140,1.0,0.0,0.0,...,6,720,0.0,1930,0.0,98146,47.5119,-122.339,1140,7577
4647,859000110,10/2/2014,125000.0,1,1.00,500,7440,1.0,0.0,0.0,...,5,500,0.0,1928,NaN,98106,47.5252,-122.362,1350,7440
12472,1172000150,8/29/2014,238000.0,1,1.00,530,6350,1.0,0.0,0.0,...,5,530,0.0,1941,0.0,98103,47.6946,-122.357,1200,6350
13316,4356200120,10/23/2014,248000.0,1,1.00,790,12000,1.0,0.0,0.0,...,6,790,0.0,1918,0.0,98118,47.5146,-122.265,1900,6000
7010,203100460,9/24/2014,400000.0,1,1.00,530,13679,1.0,0.0,0.0,...,6,530,0.0,1949,0.0,98053,47.6422,-121.954,1930,20624
3578,1925069006,12/3/2014,355000.0,1,0.75,530,33278,1.0,0.0,2.0,...,4,530,0.0,1950,0.0,98074,47.6412,-122.079,2830,14311
14373,7518503065,6/23/2014,335000.0,1,1.00,720,5100,1.0,0.0,0.0,...,6,720,0.0,1907,0.0,98117,47.6821,-122.380,1320,5100

In [13]:
df_price = df["price"]

In [15]:
df_price

0         221900.0
1         538000.0
2         180000.0
3         604000.0
4         510000.0
5        1230000.0
6         257500.0
7         291850.0
8         229500.0
9         323000.0
10        662500.0
11        468000.0
12        310000.0
13        400000.0
14        530000.0
15        650000.0
16        395000.0
17        485000.0
18        189000.0
19        230000.0
20        385000.0
21       2000000.0
22        285000.0
23        252700.0
24        329000.0
25        233000.0
26        937000.0
27        667000.0
28        438000.0
29        719000.0
           ...
21567     399950.0
21568     380000.0
21569     270000.0
21570     505000.0
21571     385000.0
21572     414500.0
21573     347500.0
21574    1220000.0
21575     572000.0
21576     475000.0
21577    1090000.0
21578     350000.0
21579     520000.0
21580     679950.0
21581    1580000.0
21582     541800.0
21583     810000.0
21584    1540000.0
21585     467000.0
21586     224000.0
21587     507250.0
21588     429000.0
21589     610685.0
21590    1010000.0
21591     475000.0
21592     360000.0
21593     400000.0
21594     402101.0
21595     400000.0
21596     325000.0
Name: price, Length: 21597, dtype: float64

In [ ]:
pan